.odd-number {
  background-color: rgb(244, 165, 178);
  font-family: "Verdana", "DejaVu Sans", sans-serif;
}

.font-size {
  font-size: 44px;
}

#two {
  color: rgb(0, 0, 255);
  font-size: 52px;
}

#four {
  background-color: rgb(144, 238, 144); 
  font-weight: bold;   
}