* {
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: sans-serif;
}

div, .title {
  padding: 10px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
  padding: 15px 10px;
  margin-bottom: 10px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
}

div, h1, button {
  font-size: 16px;
}