/* First variant
.container .text {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
} */

/* Second variant
div p {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
} */

/* Third variant
div .text {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
} */

/* Fourth variant */
.container p {
  background-color: yellow;
  color: red;
  font-size: 20px;
  text-align: center;
}